San Francisco City employee salary dataset: https://www.kaggle.com/datasets/kaggle/sf-salaries

Download the SF Salary dataset from the above link

#### Import Numpy and Pandas

#### Load CSV file

Reference:

[https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html]()

#### Calculate Average Base Pay

#### What is the highest amount of OvertimePay in the dataset ?

#### What is the job title of NATHANIEL FORD?

#### How much does NATHANIEL FORD make including benefits?

#### Highest paid person (including benefits)?

#### Lowest paid person (including benefits)?

#### What was the average BasePay of all employees per year ?

#### How many unique job titles are there?

#### What are the top 5 most common jobs?

**References:**
    
[https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html]()
    
[https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html]()

#### Job Titles with only one occurence in 2013?