<h1 style="color:#3498db" align="center">Python 101</h1>

<p style="color:#3498db;text-align:center;font-size:110%"; align="center"><b>Project Based Industrial Training
    on Blockchain, IoT and Machine Learning using Python</b>
</p>

<p style="color:#3498db;text-align:center;font-size:110%"; align="center"><b>Jointly Offered by NIELIT Guwahati and CIT Kokrajhar</b>
</p>
<hr>

# Why Python?

1. High-level language
2. Simple and Easy to learn
3. Quick prototyping
4. Large set of libraries

# Python Version

Python 2.7 [https://python.org]()

Python 3.# (We will use this throughout this programme)

# Package Installation

```bash
pip install <package_name>
```

```bash
pip install nltk
```

or 

```bash
pip3 install <package_name>
```

```bash
pip3 install nltk
```

or 


```bash
conda install <package_name>
```

# Useful Python Packages

1. Numpy 
2. Scipy
3. Matplotlib
4. Scikit-learn (Sklearn)
5. Pandas
6. NLTK
7. Beautiful soup
8. and many more

In [3]:
print('hello')

hello

# 1. Hello World

In [4]:
print('Welcome to Project Based Industrial Training on Blockchain, IoT and Machine Learning using Python')

# this is a comment
# this is a another comment

print('Happy learning!')

Welcome to Project Based Industrial Training on Blockchain, IoT and Machine Learning using Python
Happy learning!

# 2. Variable and Data Types

1. String
2. Integer
3. Boolean
4. Float
5. Complex Number

In [9]:
# Here a and b are python variables
# Notice the simplicity of python (No need of type declaration)
a = 10
b = 20 

z = 40
print(a,b,z)

10 20 40

In [11]:
# String data type
a = "Machine Learning"
print(a)

b = 'Blockchain and IoT'
print(b)

print(a, b)

print(type(a), type(b))


# multi line string
c = '''
Ok Google, tell me your favorite color.
My favorite color is Blue
'''

e = '''
hello 
world
'''

print(c)

print(e)

Machine Learning
Blockchain and IoT
Machine Learning Blockchain and IoT
<class 'str'> <class 'str'>

Ok Google, tell me your favorite color.
My favorite color is Blue


hello
world

In [12]:
# Boolean data types

d = True
e = False

print(d)
print(e)

print(type(d), type(e))

print(d or e, type(d or e))

True
False
<class 'bool'> <class 'bool'>
True <class 'bool'>

In [13]:
# Integer data type

d  = 10

print(d, type(d))

10 <class 'int'>

In [15]:
# floating values

e = 100.5

print(e, type(e))

100.5 <class 'float'>

In [16]:
# complex values

c_1 = 2 + 3j

print(c_1, type(c_1))

c_2 = complex(4, 3)

print(c_2, type(c_2))

print(c_2.real, c_2.imag)

(2+3j) <class 'complex'>
(4+3j) <class 'complex'>
4.0 3.0

# 3. Inputs

In [17]:
u_inp = input('Enter a number: ')

print('Number entered by the user is: ', u_inp)

print(type(u_inp))

Enter a number: 10
Number entered by the user is:  10
<class 'str'>

# 4. Type Conversion

In [19]:
# Integer to String conversion
x = 51
s = str(x)
print(x, s, type(x), type(s))

51 51 <class 'int'> <class 'str'>

In [21]:
# String to Integer conversion

i = int(u_inp)

print(type(u_inp), i, type(i))

<class 'str'> 10 <class 'int'>

In [22]:
int(3.14)

3

In [23]:
int(3.9999)

3

# 5. Format Printing

In [25]:
x = 10
y = 20

z = 30

print(x)

print(y)

print(x, y)

print('X = ', x, 'Y = ', y)

print('X = {}, Y = {}, Z = {}'.format(x , y, z))

10
20
10 20
X =  10 Y =  20
X = 10, Y = 20, Z = 30

In [29]:
# %d : integer
# %f : float
# %s : string

print('%.3f %.2f' %(5.2579, 6.243))

print('%d %d' %(5.257, 6.243))

5.258 6.24
5 6

# 6. Operators

# 6. 1 Arithmetic

In [30]:
n1 = 10
n2 = 2

print('Add', n1 + n2)

print('Subtract', n1 - n2)

print('Multiply', n1 * n2)

print('Division', n1 / n2)

# Remainder
print('Remainder/Modulus', n1 % n2) 

# Quotient
print('Floor Division', n1 // n2)

Add 12
Subtract 8
Multiply 20
Division 5.0
Remainder/Modulus 0
Floor Division 5

In [31]:
n3 = 20
n4 = 3

print('Division', n3 / n4)

print('Floor Division', n3 // n4) # Quotient

Division 6.666666666666667
Floor Division 6

In [32]:
# n4 ^ 2
print('Exponent', n4 ** 2)

# n4 ^ 0.5
print('Exponent', n4 ** 0.5)

# n4 ^ -2
print('Exponent', n4 ** -2)

Exponent 9
Exponent 1.7320508075688772
Exponent 0.1111111111111111

# 6.2 Assignment

In [33]:
n_1 = 10
n_2 = 20

n_3, s_1 = 30, "This is a string"

print(n_1, n_2, n_3, s_1)

print(type(n_1), type(n_2), type(n_3), type(s_1))

10 20 30 This is a string
<class 'int'> <class 'int'> <class 'int'> <class 'str'>

In [36]:
# n_1 = n_1 + n_2

n_1 += n_2 

print(n_1)

# similarly other operators

n_1 -= n_2

print(n_1)

n_1 /= n_2 

print(n_1)

n_1 **= n_2 
print(n_1)

20.5
0.5
0.025
9.094947017729293e-33

# 6.3 Relational

In [37]:
print(10 == 10)

print(10 == 20)

print(10 != 20)

print(10 > 20)

print(10 < 20)

print(21 >= 20)

print(20 <= 20)

True
False
True
False
True
True
True

# 6.4 Logical

In [38]:
b_1 = True
b_2 = False

print(b_1 and b_2)

print(b_1 or b_2)

print(not b_1)

False
True
False

# 6.5 Bitwise

In [40]:
b = 15 # 1111
e = 6 #  0110

In [41]:
# and
# 1111 
# 0110
#----- BITWISE AND ---
# 0110

print(b & e)

# or
print(b | e)

# xor
print(b ^ e)

# one's complement
print(~b) 

# Left Shift
print(b << 2)

# Right Shift
print(e >> 2)

6
15
9
-16
60
1

# 6.6 Membership

In [44]:
print('ba' in 'happy')
print('wo' not in 'world')

False
False

# 6.7 Identity

In [47]:
s_1 = 'abcd'
s_2 = 'abcd'

print(s_1 is s_2)

True

# 7 Conditional Statement

Identation

In [53]:
x = 10

if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

# 8 Loops

In [58]:
# range(a, b, step = 1)

# b is not inclusive

range(1, 10, 2)
# 1, 3, 5, 

range(1, i)
# 1 to i-1 

range(1, 3, 1)
# 1, 2

range(0, 11, 2)
# [0, 2, 4, 6, 8, 10]

for i in [0,2,4,6,8,10]:
    print(i)

print("==========")

for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10
==========
0
2
4
6
8
10

# 9. Strings

In [70]:
s = "industrial training"
print(s.capitalize())  # Capitalize a string; prints "Hello"

print(s.upper())       # Convert a string to uppercase; prints "HELLO"

print(s.rjust(20))      # Right-justify a string, padding with spaces; prints "  hello"

print(s.center(25))     # Center a string, padding with spaces; prints " hello "


print(s.replace('l', 'zz'))  # Replace all instances of one substring with another;
                                # prints "he(ell)(ell)o"
print(s)

print('  world '.strip())  # Strip leading and trailing whitespace; prints "world"

Industrial training
INDUSTRIAL TRAINING
 industrial training
   industrial training
industriazz training
industrial training
world

# Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

# 10. List

In [88]:
xs = [3, 1, 5, "Training", 100.5]    # Create a list
# print(xs)
print(xs, xs[2])  # Prints "[3, 1, 2] 2"
print(xs[-2])     # Negative indices count from the end of the list; prints "2"
xs[2] = 'blockchain'     # Lists can contain elements of different types
print(xs)         # Prints "[3, 1, 'foo']"
xs.append('machine learning')  # Add a new element to the end of the list
print(xs)         # Prints "[3, 1, 'foo', 'bar']"
x = xs.pop()      # Remove and return the last element of the list
print(x)
print(xs)      # Prints "bar [3, 1, 'foo']"

[3, 1, 5, 'Training', 100.5] 5
Training
[3, 1, 'blockchain', 'Training', 100.5]
[3, 1, 'blockchain', 'Training', 100.5, 'machine learning']
machine learning
[3, 1, 'blockchain', 'Training', 100.5]

# 11. Slicing concept

In [95]:
#range(a, b, step)

#range(1)
# 0 

#range(3)
# 0 1 2

#range (5)
#  List  10 11 12 13 14
#  Index 0  1  2  3  4

nums = list(range(10, 15, 1))     # range is a built-in function that creates a list of integers


print(nums, type(nums))               # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])          # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])           # Get a slice from index 2 to the end; prints "[2, 3, 4]"
# print(nums[:2])           # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
# print(nums[:])            # Get a slice of the whole list; prints "[0, 1, 2, 3, 4]"
# print(nums[:-1])          # Slice indices can be negative; prints "[0, 1, 2, 3]"
# nums[2:4] = [8, 9]        # Assign a new sublist to a slice
# print(nums)               # Prints "[0, 1, 8, 9, 4]"

[10, 11, 12, 13, 14] <class 'list'>
[12, 13]
[12, 13, 14]

# 12. Loops Over List

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#%d: %s' % (idx + 1, animal))

# 13. List Comprehension

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2) # append method at elements in the list
print(squares)   # Prints [0, 1, 4, 9, 16]

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)   # Prints [0, 1, 4, 9, 16]

In [ ]:
# list comprehension with condition

nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)  # Prints "[0, 4, 16]"

# 14. Dictionaries

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data

print(d)

print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; prints "True"
d['fish'] = 'wet'     # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"

print(d)

del d['fish']         # Remove an element from a dictionary

print(d)

# 15. Functions

In [ ]:
def hello():
    print("hello called")

In [ ]:
hello()

In [ ]:
def hello(name, uppercase=False):
    if uppercase:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello('Bob') # Prints "Hello, Bob"
hello('Fred', uppercase=True)  # Prints "HELLO, FRED!"

# 16. Serialization and Deserialization

In [ ]:
import pickle

In [ ]:

data = {
    'a': [1, 4.0],
    'b': ("a red fox"),
    'c': [None, True, False]
}

with open('data.bin', 'wb') as f:
    pickle.dump(data, f)

In [ ]:
!dir

In [ ]:
with open('data.bin', 'rb') as f:
  data = pickle.load(f)

  print(data)