San Francisco City employee salary dataset: https://www.kaggle.com/datasets/kaggle/sf-salaries

In [1]:
import pandas as pd

In [3]:
ls

 Volume in drive C is Acer
 Volume Serial Number is ECD1-6F35

 Directory of C:\Users\Maharaj\repositories\materials-industrial-training\Day 3

22-07-2022  12:58    <DIR>          .
22-07-2022  12:58    <DIR>          ..
22-07-2022  12:55    <DIR>          .ipynb_checkpoints
22-07-2022  12:56               738 Pandas Exercise.ipynb
08-07-2018  03:05        16,239,776 Salaries.csv
               2 File(s)     16,240,514 bytes
               3 Dir(s)  99,417,313,280 bytes free

In [5]:
# read csv file 
data = pd.read_csv('Salaries.csv')

In [7]:
# Shows top 5 sample from the data
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [8]:
# get entries

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

#### Calculate Average Base Pay

In [11]:
import numpy as np

base_pay = data['BasePay']

avg_base_pay = np.mean(base_pay)

print(avg_base_pay)

66325.44884050643

#### What is the highest amount of OvertimePay in the dataset ?

In [28]:
highest_overtime_pay = np.max(data['OvertimePay'])

highest_overtime_pay

245131.88

#### What is the job title of NATHANIEL FORD?

In [30]:
nat_df = data[data['EmployeeName'] == 'NATHANIEL FORD']
# print(nat_df)

nat_df ['JobTitle']

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
Name: JobTitle, dtype: object

#### How much does NATHANIEL FORD make including benefits?

In [14]:
nat_df ['TotalPayBenefits']

0    567595.43
Name: TotalPayBenefits, dtype: float64

#### Highest paid person (including benefits)?

In [32]:
max_pay = np.max(data['TotalPayBenefits'])
# print(max_pay)
data[data['TotalPayBenefits'] == np.max(data['TotalPayBenefits'])]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

#### Lowest paid person (including benefits)?

In [16]:
data[data['TotalPayBenefits'] == np.min(data['TotalPayBenefits'])]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

#### What was the average BasePay of all employees per year ?

In [17]:
avg_bp = data.groupby('Year')['BasePay'].mean()

avg_bp

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

#### How many unique job titles are there?

In [19]:
data['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [20]:
data['JobTitle'].nunique()

2159

#### What are the top 5 most common jobs?

**References:**
    
[https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html]()
    
[https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html]()

In [22]:
common = data.groupby('JobTitle')['JobTitle'].count()

common

JobTitle
ACCOUNT CLERK                                      83
ACCOUNTANT                                          5
ACCOUNTANT INTERN                                  48
ACPO,JuvP, Juv Prob (SFERS)                         1
ACUPUNCTURIST                                       1
                                                 ...
X-RAY LABORATORY AIDE                              26
X-Ray Laboratory Aide                             100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      1
Youth Comm Advisor                                  4
ZOO CURATOR                                         1
Name: JobTitle, Length: 2159, dtype: int64

In [25]:
sort_common = common.sort_values(axis=0, ascending=False, inplace=False, kind='quicksort')

sort_common

JobTitle
Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
                                                      ...
BUILDING SERVICES TECHNICIAN                             1
Public Service Aide-Technical                            1
Public Safety Comm Tech                                  1
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE       1
ZOO CURATOR                                              1
Name: JobTitle, Length: 2159, dtype: int64

In [26]:
sort_common[0:5]

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

#### Job Titles with only one occurence in 2013?

In [27]:
d = data[data['Year'] == 2013]

d = d.groupby('JobTitle')['JobTitle'].count() == 1

d[d].count()

202